<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head (#{msg.index.title})"></head>
<body class="d-flex flex-column h-100">
<!-- Insertar el fragmento del header -->
<header th:replace="fragments/header :: header"></header>
<!-- Contenido dinámico -->
<main class="flex-shrink-0">
    <div class="container">
        <h1 class="mt-5" th:text="#{msg.index.title}"></h1>
        <p class="lead" th:text="#{msg.index.subtitle}"></p>
    </div>
</main>
<!-- Insertar el fragmento del footer -->
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>